
* {
    font-family: sans-serif; /* Change your font family */
    
 }

#myTable {
margin-left: auto;
margin-right: auto;
border-collapse: collapse;
margin: 25px 0;
font-size: 0.9em;
min-width: 400px;
border-radius: 5px 5px 0 0;
overflow: hidden;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#myTable thead tr {
background-color: #009879;
color: #ffffff;
text-align: left;
font-weight: bold;
}

#myTable th,
#myTable td {
padding: 12px 15px;
}

#myTable tbody tr {
border-bottom: 1px solid #dddddd;
}

#myTable tbody tr:nth-of-type(even) {
background-color: #f3f3f3;
}

#myTable tbody tr:last-of-type {
border-bottom: 2px solid #009879;
}

#myInput {
 margin-left: 175px; 
 margin-right: auto;
 width: 75vw;
 border: 2px solid;
 border-color: #009879;
 height: 30px;

}